*{
    color: rgb(246,139,30);
}
#htag{
    color: black;
}
#form{
    border: 3px solid rgb(246,139,30);
    background-color: rgb(246,139,30);
}
input{
    outline: none;
    border: 1px solid black;
}